@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Manage secrets questions";
    ViewData["ActivePage"] = ManageNavPages.ManageSecretsQuestions;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains some questions that can be changed here.</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
