@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white">
    <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 fw-bold text-uppercase display-6">
        <a class="text-decoration-none text-white" asp-area="" asp-controller="Game" asp-action="Index">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                  jouer
              </div>
            </div>
        </a>
        <a class="text-decoration-none text-white" asp-area="" asp-controller="Score" asp-action="Index">
            <div class="card bg-dark text-white mt-5" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                  scores
              </div>
            </div>
        </a>
        <a class="text-decoration-none text-white" asp-area="" asp-controller="Score" asp-action="HighScores">
            <div class="card bg-dark text-white mt-5" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                  highscores
              </div>
            </div>
        </a>
      </div>
    </div> 
    </div>
</div>
